<!-- Page Heading -->
<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            Tree View
        </h2>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home'">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-sitemap"></i> Tree View
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <tree id="tree-view" [tree]="tree"></tree>
    </div>
<div>
